* 
{
	margin: 0;
	padding: 0;
}

.modalup-window
{	
	background-color: #fffffa;
	text-align: center;
	min-width: 128px;
	min-height: 128px;
	max-width: 400px;
	box-shadow: 0 1px 15px rgba(0,0,0,0.25);
	position: relative;
	text-align: center;
	padding-top: initial;
	margin: 1rem;
	margin-top: 0;
	color: #000000 !important;
	z-index: 100000;
	overflow: hidden;
}

.modalup-window-success
{
	background-color: #00a86b !important;
	color: #ffffff !important;
}

.modalup-window-dark
{
	background-color: #151719 !important;
	color: #ffffff !important;
}

.modalup-window-danger
{
	background-color: #e32636 !important;
	color: #ffffff !important;
}

.modalup-window-size-small
{

	max-width: 200px !important;
}

.modalup-window-size-medium
{

	max-width: 400px !important;
}

.modalup-window-size-large
{
	max-width: 800px !important;
}

.modalup-main-div
{
	padding: 2rem;
}

.modalup-container
{
	font-size: 20px;
	font-family: 'Calibri', sans-serif;
	position: absolute;
	width: 100%;
}

.modalup-container-fluid {
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 100000;
}

.modalup-centered
{
	display: flex;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	flex-direction: column;
}

.modalup-rounded
{
	border-radius: .25rem;
}

.modalup-close-line
{	
	padding-top: .25rem;
	width: 100%;
	text-align: right;
	float: right;
	padding-right: 1rem;
}

.modalup-close-line > p > span:hover
{
	cursor: pointer;
}

.modalup-title
{
	font-size: 41px;
}

.modalup-text
{
	font-size: 24px;
	padding-top: .5rem;
}

.modalup-window-text-size-small .modalup-title
{
	font-size: 20px !important;
}

.modalup-window-text-size-small .modalup-text
{
	font-size: 16px !important;
}

.modalup-window-text-size-medium .modalup-title
{
	font-size: 30px !important;
}

.modalup-window-text-size-medium .modalup-text
{
	font-size: 25px !important;
}

.modalup-window-text-size-large .modalup-title
{
	font-size: 40px !important;
}

.modalup-window-text-size-large .modalup-text
{
	font-size: 35px !important;
}

.modalup-close
{
	font-size: 15px;
	height: min-content;
}

.modalup-close::before
{
	content: '✕';
}